@tailwind base;
@tailwind components;
@tailwind utilities;


.pokemon-card {
  background-image: url('../public/img/card-background-1.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
